<?php
// Database configuration
define('DB_HOST', '{{ database_host }}');
define('DB_NAME', '{{ mysql_database }}');
define('DB_USER', '{{ mysql_user }}');
define('DB_PASS', '{{ mysql_password }}');

// Application configuration
define('APP_NAME', '{{ app_name }}');
define('APP_VERSION', '{{ app_version }}');
define('DEBUG', false);
?>
